body{
  padding: 10px;
}

.addingTasks{
  display: flex;
  margin-bottom: 10px;
  height: 75px;
  width: 750px;
}

.addingTasks__input{
  border: 1px solid gray;
  border-radius: 10px 0 0 10px;
  width: 650px;
  padding: 10px;
}

.addingTasks__button{
  border: 1px solid gray;
  border-radius: 0 10px 10px 0;
  width: 100px;
  background-color: white;
}

.statisticsBlock{
  display: flex;
  margin-bottom: 10px;
}

.statisticsBlock__item{
  color: white;
  background-color: blue;
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px;
}

.inputSearch{
  border: 1px solid gray;
  margin-bottom: 10px;
  width: 750px;
  border-radius: 10px;
  padding: 22px;
}

.todoItem{
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  max-width: 750px;
}

.todoItem__button{
  margin-right: 25px;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.done_true{
  background-color: green;
}

.done_false{
  background-color: gray;
}

.todoItem__text{
  margin: auto 0;
}

.zeroBlock{
  width: 750px;
  display: flex;
}
.zeroBlock__text{
  margin: auto;
}

.selectors{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}